
@{
    ViewData["Title"] = "View";

    Layout = null;
}


<h1>This is the CustomerEdit View</h1>


Name :- <input type="text" /> <br />
Address :- <input type="text" /> <br />
<input type="button" value="Click" />
