
@{
    Layout = null;
}


<script src="~/lib/jquery/dist/jquery.js"></script>


<b> This is the index page </b>
<br />
<a href="Customer/AddScreen">Add New Customer</a>
<br />
<a href="Customer/SearchScreen">Search Customer</a>
<br />


@*<a href="Customer/Edit">Edit Customer</a>*@